[submodule "plDcg"]
	path = plDcg
	url = https://github.com/wouterbeek/plDcg.git
[submodule "Prolog-Library-Collection"]
	path = Prolog-Library-Collection
	url = https://github.com/wouterbeek/Prolog-Library-Collection.git
[submodule "plSvg"]
	path = plSvg
	url = https://github.com/wouterbeek/plSvg.git
[submodule "plHtml"]
	path = plHtml
	url = https://github.com/wouterbeek/plHtml.git
[submodule "plGraph"]
	path = plGraph
	url = https://github.com/wouterbeek/plGraph.git
[submodule "plTree"]
	path = plTree
	url = https://github.com/wouterbeek/plTree.git
[submodule "plGraphViz"]
	path = plGraphViz
	url = https://github.com/wouterbeek/plGraphViz.git
[submodule "plSet"]
	path = plSet
	url = https://github.com/wouterbeek/plSet.git
[submodule "plUri"]
	path = plUri
	url = https://github.com/wouterbeek/plUri.git
[submodule "plHttp"]
	path = plHttp
	url = https://github.com/wouterbeek/plHttp.git
[submodule "plXml"]
	path = plXml
	url = https://github.com/wouterbeek/plXml.git
[submodule "plLattice"]
	path = plLattice
	url = https://github.com/wouterbeek/plLattice.git
[submodule "plLangTag"]
	path = plLangTag
	url = https://github.com/wouterbeek/plLangTag.git
