[submodule "Prolog-Library-Collection"]
	path = Prolog-Library-Collection
	url = https://github.com/wouterbeek/Prolog-Library-Collection.git
[submodule "plSvg"]
	path = plSvg
	url = https://github.com/wouterbeek/plSvg.git
[submodule "plHtml"]
	path = plHtml
	url = https://github.com/wouterbeek/plHtml.git
[submodule "plGraph"]
	path = plGraph
	url = https://github.com/wouterbeek/plGraph.git
[submodule "plGraphViz"]
	path = plGraphViz
	url = https://github.com/wouterbeek/plGraphViz.git
[submodule "plSet"]
	path = plSet
	url = https://github.com/wouterbeek/plSet.git
[submodule "plUri"]
	path = plUri
	url = https://github.com/wouterbeek/plUri.git
[submodule "plXml"]
	path = plXml
	url = https://github.com/wouterbeek/plXml.git
[submodule "plLangTag"]
	path = plLangTag
	url = https://github.com/wouterbeek/plLangTag.git
